
/FlagConsole/_ReSharper.FlagConsole
/FlagConsole/FlagConsole.UnitTests/bin
/FlagConsole/FlagConsole.UnitTests/obj
/FlagConsole/FlagConsole.Demo/bin
/FlagConsole/FlagConsole.Demo/obj
/FlagConsole/FlagConsole/bin
/FlagConsole/TestResults
/FlagConsole/FlagConsole/obj